<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midian.qualitycloud"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="26"
    android:versionName="1.1.9" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- baselib -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <!-- 百度地图 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 百度定位 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>

    <!-- ###################友盟 ################### -->
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <!-- 缓存资源优先存入SDcard -->
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->

    <!-- 百度自动升级sdk 权限 -->


    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.midian.qualitycloud.app.MAppContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme1"
        android:allowBackup="true"
        tools:replace="name,icon,label,theme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tkg3nZfd6mTRDY1XR9oPOEw9" />
        <!-- 百度自动升级sdk -->
        <meta-data
            android:name="BDAPPID"
            android:value="7300415" />

        <meta-data
            android:name="BDAPPKEY"
            android:value="tkg3nZfd6mTRDY1XR9oPOEw9" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="tkg3nZfd6mTRDY1XR9oPOEw9" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56457f8ee0f55aebaa003513"
            tools:replace="android:value">
        </meta-data>
      
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="qualitycloud"
            tools:replace="android:value"> <!-- anzhibao -->
        </meta-data>

        <!-- 百度自动升级sdk -->
        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- push应用定义消息receiver声明 -->
        <receiver
            android:name="com.midian.baidupush.MyPushMessageReceiver"
            android:exported="true" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->


        <!-- ###################友盟 ################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 1104891003，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104891003" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.midian.qualitycloud.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.WelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoadTranslucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.setting.SetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.setting.AboutUpadateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 登陆注册库 -->
        <activity
            android:name="com.midian.login.view.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordOneActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordTwoActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 -->
        <activity
            android:name="com.midian.login.view.PersonInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPersonInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseCitysActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseAreaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseSexActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.NoteVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.SecurityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 举报 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.InformActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 曝光 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.ExposureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 扫描结果 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.ScanResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 附近电梯和游乐列表 -->
        <activity
            android:name="com.midian.qualitycloud.ui.main.NearbyElevatorPlaygroundActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.main.NearbyElevatorPlaygroundListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 附近电梯和游乐地图 -->
        <activity
            android:name="com.midian.qualitycloud.ui.main.NearbyElevatorPlaygroundMap"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.main.NearbyElevatorOrPlaygroundMap"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 贵州名牌首页 -->
        <activity
            android:name="com.midian.qualitycloud.ui.guizhoubrand.GuizhouBrandMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 贵州名牌 -->
        <activity
            android:name="com.midian.qualitycloud.ui.guizhoubrand.GuizhouBrandActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 布局名牌详情 -->
        <activity
            android:name="com.midian.qualitycloud.ui.guizhoubrand.BrandDistributionDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 名牌详情 -->
        <activity
            android:name="com.midian.qualitycloud.ui.guizhoubrand.BrandDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 名牌申報指南詳情 -->
        <activity
            android:name="com.midian.qualitycloud.ui.guizhoubrand.BrandReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 查询测试机构 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.QueryTestOrganizationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 测试机构查询 结果 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.QueryTestOrganizationResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.QueryTestOrganizationResultActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 测试机构详情 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.TestOrganizationDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 应用标准详情 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.UseStandardDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 测试机构地图 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.TestOrganizationMap"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 我的消息 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.MyMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 关于我们 -->
        <activity
            android:name="com.midian.qualitycloud.ui.setting.AboutUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- baselib库 -->
        <activity
            android:name="midian.baselib.common.MipcaActivityCapture"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="midian.baselib.common.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 地理标识 -->
        <activity
            android:name="com.midian.qualitycloud.ui.geographical.GeographicalIndicationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 查询地理标识结果 -->
        <activity
            android:name="com.midian.qualitycloud.ui.geographical.QueryGIResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 地理标识 -->
        <activity
            android:name="com.midian.qualitycloud.ui.geographical.GIDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 地理标志详情 -->

        <activity
            android:name="com.midian.qualitycloud.ui.geographical.GIMoreDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.geographical.GIGuideDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.geographical.PoliticDocumentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 二维码扫描 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.ScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 我的位置 -->
        <activity
            android:name="com.midian.qualitycloud.ui.common.MyPostion"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 意见反馈 -->
        <activity
            android:name="com.midian.qualitycloud.ui.setting.FeedbackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.midian.qualitycloud.ui.main.ElevatorPlaygroundListForMapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 测试机构查看列表 -->
        <activity
            android:name="com.midian.qualitycloud.ui.testorganization.TestOrganizationListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 测试机构检测项目列表 -->
          <activity
            android:name="com.midian.qualitycloud.ui.testorganization.TestTypeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <!-- 地方标准 -->
        <activity
            android:name="com.pdfread.standardreader.ui.StandardMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:replace="android:windowSoftInputMode"/>
        
        <activity android:name="com.pdfread.standardreader.ui.CatagoryActivity"
              android:screenOrientation="portrait"
               android:windowSoftInputMode="stateHidden|adjustPan"
            tools:replace="android:windowSoftInputMode"></activity>
        <activity android:name="com.pdfread.standardreader.ui.StandardSearchActivity"
              android:screenOrientation="portrait"
               android:windowSoftInputMode="stateHidden|adjustPan"
              ></activity>
        <activity android:name="com.pdfread.standardreader.ui.MyDownLoadedActivity"
              android:screenOrientation="portrait"
               android:windowSoftInputMode="stateHidden|adjustPan"
              ></activity>
        <activity android:name="com.pdfread.standardreader.pdf.PDFReadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
              android:screenOrientation="portrait"
               android:windowSoftInputMode="stateHidden|adjustPan"
            >
        </activity>
    </application>

</manifest>