<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midian.login"
    android:versionCode="0"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- baselib -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55f1395167e58e5004003e22" >
        </meta-data>
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="danpin" />

        <!-- 登陆注册库 -->
        <activity
            android:name="com.midian.login.view.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ForgetPasswordTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterOneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.RegisterTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
        
         <!-- 个人中心 -->
        <activity
            android:name="com.midian.login.view.PersonInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPersonInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseCitysActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseAreaActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ChooseSexActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.SetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.CollectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.ResetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.NoteVerifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.midian.login.view.EditPhoneTwoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>